footer {
    background-color: hsl(0, 0%, 98%);

    img {
        width: 50px;
    }
    #liensFooter {
        width: 700px;

        div {
            width: 200px;
            margin: 10px;
        }

        a {
            text-decoration: none;
            color: hsl(210, 10%, 33%);
            font-family: baijam;
            font-size: 18px;
            
        }
    }

    #logoFooter {
        color: hsl(210, 10%, 33%);

        i {
            font-size: 30px;
            margin: 0 10px;
        }
    }
}