#sect1 {
    font-family: baijam;

    h2, h3{
        font-weight: 600;
        color: hsl(210, 10%, 33%);
    }

    p{
        color: hsl(201, 11%, 66%);
        font-size: 18px;
        max-width: 700px;
        margin: auto;
    }

    #compTxt {
        #imgSect1 {
            left: -30px;
        }

        .py-5 {
            p {
                max-width: 450px;
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: 440px) {
#sect1 {
    margin-top: 150px !important;
    h2 {
        padding: 0 50px;
    }
    p{
        padding: 20px;
    }
    #compTxt {
        flex-direction: column;
        align-items: center;
        text-align: center;
        #imgSect1 {
            left: 0px;
            width: 300px;
        }
        #txtSect1 {
            padding: 10px !important;
        }
    }
}
}