#sect1 {
    font-family: baijam;

    h2, h3{
        font-weight: 600;
        color: hsl(210, 10%, 33%);
    }

    p{
        color: hsl(201, 11%, 66%);
        font-size: 18px;
        max-width: 700px;
        margin: auto;
    }

    #compTxt {
        #imgSect1 {
            left: -30px;
        }

        .py-5 {
            p {
                max-width: 450px;
            }
        }
    }
}